

@model DAL.Models.ProjectFinancialDetail.ProjectFinancialDetailViewModel
<div class="modal-content">
    <div class="modal-header p-2">
        <h5 class="modal-title" id="promotion-title">Thông tin hạng mục phân bổ chi tiết</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">

        <fieldset class="border rounded-1 pb-3 pe-3 ps-3 mb-3">
            <legend class="float-none w-auto px-3 text-uppercase fw-bold fs-2 mb-0 text-blue">Thông tin hạng mục phân bổ</legend>
            <form id="frmCreateProjectDetail">
                <div class="form-group">
                    <div class="row">
                        <label class="col-md-3 control-label">Nhóm hoạt động <span class="text-red">*</span></label>
                        <div class="col-md-3">
                            <select class="form-control" id="a_nhom_hoat_dong" name="nhom_hoat_dong">
                                <option></option>
                                @foreach (var hd in Model.DM_NhomHoatDong)
                                {
                                    if (hd.Id == Model.data.ActivityGroupId)
                                    {
                                        <option value="@hd.Id" selected>@hd.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@hd.Id">@hd.Name</option>
                                    }

                                }
                            </select>
                        </div>

                        <label class="col-md-3 control-label">Mục chi <span class="text-red">*</span></label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="a_muc_chi" name="muc_chi" value="@Model.data.ExpenseItem" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-md-3 control-label">Tiêu chuẩn</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="a_tieu_chuan" name="tieu_chuan" value="@Model.data.Standard"/>
                        </div>

                        <label class="col-md-3 control-label" >Số lượng</label>
                        <div class="col-md-3">
                            <input type="text" onchange="changeSoLuongDonGia()" class="form-control" id="a_so_luong" name="so_luong" value="@Model.data.Quantity" autocomplete="off"/>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-md-3 control-label">Đơn giá</label>
                        <div class="col-md-3">
                            <input type="text"  onblur="formatDonGia()" class="form-control" id="a_don_gia" name="don_gia" value="@Model.data.Price" autocomplete="off" />
                            <input type="hidden" id="a_don_gia_khong_format" value="@Model.data.Price" />
                        </div>

                        <label class="col-md-3 control-label">Thành tiền <span class="text-red">*</span></label>
                        <div class="col-md-3">
                            <input type="text" onblur="formatThanhTien()" class="form-control" id="a_thanh_tien" name="thanh_tien" value="@Model.data.TotalAmount" autocomplete="off" />
                            <input type="hidden" id="a_thanh_tien_khong_format" value="@Model.data.Price" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-md-3 control-label">Ghi chú</label>
                        <div class="col-md-9">
                            <textarea class="form-control" rows="3" id="a_ghi_chu_tt_chi_tiet">@Model.data.Notes</textarea>
                        </div>


                    </div>
                </div>
            </form>
        </fieldset>



    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" onclick="CreateProjectDetail()">Lưu</button>
        <input hidden id="ProjectDetailId" value="@Model.data.Id" />
    </div>
   
</div>
<script>
    $(document).ready(function () {
        formatThanhTien();
        formatDonGia();
       
    });
</script>
