

@model DAL.Models.Category.PaymentProfileModel
<div class="modal-content">
    <div class="modal-header p-2">
        <h5 class="modal-title" id="promotion-title">Thêm mới thông tin thanh toán</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <input value="@Model.MucChi.Id" hidden id="PaymentProFileForExpenseId" />
        <fieldset class="border rounded-1 pb-3 pe-3 ps-3 mb-3">
            <legend class="float-none w-auto px-3 text-uppercase fw-bold fs-2 mb-0 text-blue">Thông tin mục chi</legend>
            <form id="frmCreateProjectDetail">
                <div class="form-group">
                    <div class="row">
                        <label class="col-md-2 control-label">Mã mục chi</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="a_ma_muc_chi" name="ma_muc_chi" value="@Model.MucChi.Code" readonly />
                        </div>

                        <label class="col-md-2 control-label">Tên mục chi </label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="a_ten_muc_chi" name="ten_muc_chi" value="@Model.MucChi.Name" readonly />
                        </div>
                    </div>
                    <br />
                    <br />
                   
                </div>
            </form>
        </fieldset>

        <fieldset class="border rounded-1 pb-3 pe-3 ps-3 mb-3">
            <legend class="float-none w-auto px-3 text-uppercase fw-bold fs-2 mb-0 text-blue">Thông tin hồ sơ thanh toán</legend>
            <table class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Hồ sơ</th>
                        <th>Tên hồ sơ</th>
                        <th>Ghi chú</th>
                        <th>Tệp đính kèm</th>
                        <th width="60px"><button onclick="AddFormPaymentProfile()" class="btn btn-sm btn-warning"><i class="fa fa-plus-circle"></i></button></th>
                    </tr>
                </thead>
                <tbody id="table_thong_tin_hs_thanh_toan">
                    @foreach (var hs in Model.TTHoSoThanhToan)
                    {
                    <tr>
                        <td>
                            <input name="ma_hs_thanh_toan" id="a_ma_hs_thanh_toan" value="@hs.Code" class="form-control" readonly />
                        </td>
                        <td>
                            <input name="ten_hs_thanh_toan" id="a_ten_hs_thanh_toan" value="@hs.Name" class="form-control" readonly/>
                        </td>
                        <td>
                            <input name="ghi_chu_hs_thanh_toan" id="a_ghi_chu_hs_thanh_toan" value="@hs.Notes" class="form-control" readonly/>
                        </td>
                        <td>

                            <a href="@hs.URLPath" name="tep_dinh_kem_hs_thanh_toan" id="a_tep_dinh_kem_hs_thanh_toan" target="_blank">@hs.FileAttachName</a>
                        </td>
                        <td style="text-align:center;">
                          
                            <span class="fa fa-trash" onclick="RemoveExpensePaymentProfile(@hs.Id)"></span>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </fieldset>

    </div>
    <div class="modal-footer">

        <input hidden id="ExpenseId" value="@Model.MucChi.Id" />
    </div>

</div>

<script>

    $(document).ready(function () {
        var items = @Html.Raw(Json.Serialize(Model.LstPaymentProfile));
        if (items != null) {
            lstCbPaymentProfile = [];
                items.forEach(function (item) {
                    var data = {
                        id: item.id,
                        code: item.code,
                        name: item.name,
                        notes: item.notes,
                        isRequiredDoc: item.isRquiredDoc,
                    };
                    lstCbPaymentProfile.push(data);
                });
            }
    });
</script>

