
@model DAL.Models.Permission.PermissionCreateRequestModel
<div class="modal-content">
    <div class="modal-header p-2">
        <h5 class="modal-title">Phân quyền nhân viên yêu cầu thanh toán</h5>

    </div>
    <div class="content-body">

        <input hidden id="PermissionInChargeId" value="@Model.data.Id" />
        <input hidden id="UserName" value="@ViewBag.UserName" />
        <input hidden id="UserId" value="@ViewBag.UserId" />
        <div class="modal-body p-3">
            <form id="frmCreatePermissionCreateRequest">

                <fieldset class="border rounded-1 pb-3 pe-3 ps-3 mb-3">
                    <legend class="float-none w-auto px-3 text-uppercase fw-bold fs-3 mb-0 text-blue">Thông tin phân quyền nhân viên yêu cầu thanh toán</legend>

                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-md-12 control-label">Dự án <span class="text-red">*</span></label>
                            <div class="col-md-12">

                                <select class="form-control" id="a_du_an" name="du_an" onchange="handelchangeProject()" >
                                    <option></option>
                                    @foreach (var hd in Model.LstProject)
                                    {
                                        <option value="@hd.Id">@hd.Name</option>

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-12 control-label">Nhóm hoạt động <span class="text-red">*</span></label>
                            <div class="col-md-12">

                                <select class="form-control" id="a_nhom_hoat_dong" name="nhom_hoat_dong">
                                    
                                </select>
                            </div>
                        </div>

                    </div>
                   
                </fieldset>
                <fieldset class="border rounded-1 pb-3 pe-3 ps-3 mb-3">
                    <legend class="float-none w-auto px-3 text-uppercase fw-bold fs-3 mb-0 text-blue">Thông tin các dự án/hoạt động yêu cầu thanh toán </legend>

                    <table class="table table-bordered" width="100%">
                        <thead>
                            <tr>
                                <th>Dự án</th>
                                <th>Nhóm hoạt động</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody id="table_thong_tin_nhan_vien_phu_trach">
                            @foreach (var item in Model.lstPermissionProject)
                            {
                            <tr>
                                <td>
                                    @item.ProjectName
                                </td>
                                <td>
                                    @item.ActiveGroupName
                                </td>
                                <td style="text-align:center;">

                                    <span class="fa fa-trash" onclick="RemovePermissionCreateRequestById(@item.Id)"></span>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="modal-footer p-0">
        <button type="button" class="btn btn-primary btn-footer" id="btnLuuTaoDot" onclick="CreatePermissionCreateRequest();"><i class="fas fa-save me-1"></i>&nbsp;Lưu</button>
        <button type="button" class="btn btn-secondary btn-footer" onclick="closeModal_PermissionCreateRequest();" data-bs-dismiss="modal"><i class="fas fa-times me-1"></i>&nbsp;Đóng</button>
    </div>
</div>
<script>

    $(document).ready(function () {
        
    });
</script>